.recentlyBookedTitleChild,
.results {
  align-self: stretch;
  position: relative;
}
.results {
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.recentlyBookedTitleChild {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.recentlyBookedTitle {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.showMore1 {
  position: relative;
  line-height: 16px;
}
.iconBack {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.showMore {
  align-self: stretch;
  border-radius: 3px;
  background-color: rgba(18, 98, 175, 0.06);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-3xs);
  gap: var(--gap-9xs);
}
.bookingCards,
.recentlyBooked {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.bookingCards {
  align-self: stretch;
  gap: var(--gap-xs);
  font-size: var(--font-size-xs);
  color: var(--color-cornflowerblue-200);
  font-family: var(--font-inter);
}
.recentlyBooked {
  width: 257px;
  border-radius: var(--br-7xs);
  background-color: var(--background-paper);
  padding: 0 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-lg);
}
.resultsSection {
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.resultsPage,
.resultsSection,
.searchResults {
  display: flex;
  align-items: flex-start;
}
.searchResults {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-31xl) var(--padding-61xl);
}
.resultsPage {
  width: 100%;
  position: relative;
  background-color: var(--background-paper);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--typography-body-1-size);
  color: var(--color-cornflowerblue-300);
  font-family: var(--typography-body-1);
}
@media screen and (max-width: 1200px) {
  .searchResults {
    padding: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .recentlyBooked {
    width: 100%;
  }
  .resultsSection {
    flex-direction: column;
    gap: 80;
  }
  .searchResults {
    padding: var(--padding-xl) var(--padding-5xl);
    box-sizing: border-box;
  }
}
