.beds {
  position: relative;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-weight: 500;
}
.pilldefault {
  border-radius: var(--br-8xl);
  border: 1px solid var(--background-paper);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-2xl);
  text-align: center;
  font-size: var(--typography-body-1-size);
  color: var(--background-paper);
  font-family: var(--typography-body-1);
}
