.resultsImageIcon {
  width: 260px;
  position: relative;
  border-radius: var(--br-3xs) 0 0 var(--br-3xs);
  height: 220px;
  object-fit: cover;
}
.freehandLosAngeles {
  position: absolute;
  top: 25px;
  left: 0;
  font-size: var(--headline-6-bold-size);
  letter-spacing: 0.04em;
  text-transform: capitalize;
  display: inline-block;
  width: 273.9px;
}
.bedInQuad,
.div,
.reviews {
  position: absolute;
  top: 0;
  display: inline-block;
}
.bedInQuad {
  left: 0;
  letter-spacing: 0.02em;
  color: var(--color-gray-100);
  width: 172.8px;
}
.div,
.reviews {
  left: 64.1px;
  letter-spacing: 0.04em;
  width: 138.7px;
}
.div {
  left: 25.9px;
  font-weight: 500;
  width: 28.2px;
}
.review,
.stars,
.vectorIcon {
  position: absolute;
  top: 0;
  left: 0;
}
.vectorIcon {
  height: 84.21%;
  width: 34.75%;
  right: 65.25%;
  bottom: 15.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.review,
.stars {
  width: 54.1px;
  height: 19px;
  color: var(--color-darkslategray-600);
}
.review {
  top: 57px;
  width: 202.8px;
  color: var(--color-cornflowerblue-200);
}
.result {
  flex: 1;
  position: relative;
  height: 76px;
}
.resultsTitle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.s198 {
  top: 0;
  left: 0;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.night,
.pricing,
.s198 {
  position: absolute;
}
.night {
  top: 8px;
  left: 73px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.02em;
}
.pricing {
  top: 0;
  left: 0;
  width: 112px;
  height: 26px;
}
.priceAndCta {
  width: 164.5px;
  position: relative;
  height: 83.6px;
  font-size: var(--headline-6-bold-size);
}
.resultsCard,
.resultsDetails {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.resultsDetails {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-xs) var(--padding-mini) 0;
  gap: var(--gap-12xl);
}
.resultsCard {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-cornflowerblue-400);
  flex-direction: row;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--typography-body-1-size);
  color: var(--color-darkslategray-600);
  font-family: var(--typography-body-1);
}
@media screen and (max-width: 650px) {
  .resultsImageIcon {
    width: 100% !important;
    border-radius: 10px !important;
  }
  .resultsDetails {
    padding: var(--padding-mini);
    box-sizing: border-box;
    flex: unset;
    align-self: stretch;
  }
  .resultsCard {
    flex-direction: column;
  }
}
