.recentSearches {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.recentSearches1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-mini);
}
.prepareForYour {
  align-self: stretch;
  height: 21px;
  position: relative;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  display: inline-block;
}
.hotelIcon {
  width: 65.4px;
  position: relative;
  height: 65.4px;
}
.hotel1 {
  position: relative;
  font-size: var(--components-button-large-size);
  letter-spacing: 0.04em;
  font-family: var(--typography-body-1);
  color: var(--color-gray-100);
  text-align: left;
}
.hotel {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-sandybrown);
  width: 65.4px;
  height: 65.4px;
}
.ticketIcon {
  position: absolute;
  height: 47.86%;
  width: 48.32%;
  top: 25.99%;
  right: 25.84%;
  bottom: 26.15%;
  left: 25.84%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.attractionsIcon {
  width: 65.4px;
  position: relative;
  height: 65.4px;
}
.attractions1 {
  position: relative;
  font-size: var(--components-button-large-size);
  letter-spacing: 0.04em;
  font-family: var(--typography-body-1);
  color: var(--color-gray-100);
  text-align: center;
}
.attractions {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.eatsIcon {
  width: 65.4px;
  position: relative;
  height: 65.4px;
}
.eats1 {
  position: relative;
  font-size: var(--components-button-large-size);
  letter-spacing: 0.04em;
  font-family: var(--typography-body-1);
  color: var(--color-gray-100);
  text-align: center;
}
.eats {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.background1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-gold);
  width: 65.4px;
  height: 65.4px;
}
.trainIcon {
  position: absolute;
  height: 48.47%;
  width: 41.13%;
  top: 26.45%;
  right: 29.51%;
  bottom: 25.08%;
  left: 29.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.commuteIcon {
  width: 65.4px;
  position: relative;
  height: 65.4px;
}
.commute1 {
  position: relative;
  font-size: var(--components-button-large-size);
  letter-spacing: 0.04em;
  font-family: var(--typography-body-1);
  color: var(--color-gray-100);
  text-align: center;
}
.commute {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.background2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-cornflowerblue-100);
  width: 70px;
  height: 65.4px;
}
.taxiIcon1 {
  position: absolute;
  height: 40.21%;
  width: 40.57%;
  top: 29.66%;
  right: 29.71%;
  bottom: 30.12%;
  left: 29.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.taxiIcon {
  width: 70px;
  position: relative;
  height: 65.4px;
}
.taxi1 {
  width: 32.1px;
  position: relative;
  font-size: var(--components-button-large-size);
  letter-spacing: 0.04em;
  font-family: var(--typography-body-1);
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
}
.taxi {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.background3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-yellowgreen-100);
  width: 65.4px;
  height: 65.4px;
}
.movieIcon {
  position: absolute;
  height: 35.63%;
  width: 39.91%;
  top: 32.26%;
  right: 30.12%;
  bottom: 32.11%;
  left: 29.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.moviesIcon {
  width: 65.4px;
  position: relative;
  height: 65.4px;
}
.movies1 {
  position: relative;
  font-size: var(--components-button-large-size);
  letter-spacing: 0.04em;
  font-family: var(--typography-body-1);
  color: var(--color-gray-100);
  text-align: center;
}
.movies {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.tripMenus {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.prepareMenu {
  justify-content: center;
  gap: var(--gap-xl);
  font-size: var(--button-size);
  color: var(--color-lightgray);
}
.flightDetails,
.prepareMenu,
.upcomingFlightSection,
.upcomingFlightSection1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flightDetails {
  justify-content: center;
  gap: var(--gap-17xl);
  font-size: var(--font-size-5xl);
  color: var(--color-cornflowerblue-300);
}
.upcomingFlightSection,
.upcomingFlightSection1 {
  justify-content: flex-start;
}
.upcomingFlightSection1 {
  gap: var(--gap-xl);
}
.upcomingFlightSection {
  text-align: left;
  font-size: var(--button-size);
  color: var(--color-darkslategray-600);
  font-family: var(--typography-body-1);
}
@media screen and (max-width: 1100px) {
  .recentSearches1 {
    flex-direction: column;
  }
  .prepareMenu {
    width: 100%;
  }
  .flightDetails {
    flex-direction: column;
  }
  .upcomingFlightSection {
    display: block;
  }
}
@media screen and (max-width: 650px) {
  .attractions,
  .commute,
  .eats,
  .hotel,
  .movies,
  .taxi {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
    width: 33.33%;
    text-align: center;
  }
  .tripMenus {
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -28px;
    margin-right: -28px;
  }
}
